{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%} {% if error_statement %}
<div class="alert alert-danger  alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
    <div>
        <strong>Warning! </strong> {{error_statement}}
    </div>
</div>
{% endif %}

<form method="POST">
    <h5 style="text-align: center; ">Cloud Notes</h5>
    <!-- <textarea name="note" id="note" class="form-control"></textarea> -->
    <!-- <div class="bg-light p-2"> -->
    <div class="bg-light p-2">
        <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="/static/images/icons-t.png" width="20px" height="20px" style="margin-top: 10px; margin-right: 8px;">
            <input class="form-control " type="text" size="4" name="title" placeholder="Title" style="text-align:center" id="title" for="title" value="{{title}}" name="title">
        </div>
    </div>
    <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="/static/images/note-logo2.png" width="25px" height="25px" style="margin-top: 15px;"><textarea class="form-control ml-1 shadow-none textarea" placeholder="Note" style="text-align: center;" id="note" value="{{note}}"
            name="note"></textarea>
        <br />
        <div>
            <button type="submit" class="btn btn-primary btn-sm" style="margin-left: 5px;">Add</button>
            <a href="/show" type="button" class=" btn-sm" style="margin-left: 1px;">Show</button>
      </div>
</form>
{% endblock %}